Package: com.matias.switchcolor15
Name: SwitchColor15
Version: 0.2.0
Architecture: iphoneos-arm64
Description: Cambia el color de los switches de Ajustes con presets y RGB personalizado.
Maintainer: Matias
Author: Matias
Section: Tweaks
Depends: mobilesubstrate, preferenceloader, firmware (>= 15.0)
