<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>

    <key>title</key>
    <string>SwitchColor15</string>

    <key>entry</key>
    <dict>
        <key>cell</key>
        <string>PSLinkCell</string>

        <key>label</key>
        <string>SwitchColor15</string>

        <key>bundle</key>
        <string>SwitchColor15</string>
    </dict>

    <key>items</key>
    <array>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>SwitchColor15</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSLinkListCell</string>
            <key>label</key>
            <string>Color</string>

            <key>defaults</key>
            <string>com.matias.switchcolor15</string>

            <key>key</key>
            <string>preset</string>

            <key>default</key>
            <string>blue</string>

            <key>validValues</key>
            <array>
                <string>red</string>
                <string>green</string>
                <string>blue</string>
                <string>purple</string>
            </array>

            <key>validTitles</key>
            <array>
                <string>Rojo</string>
                <string>Verde</string>
                <string>Azul</string>
                <string>Morado</string>
            </array>

            <key>PostNotification</key>
            <string>com.matias.switchcolor15/settingschanged</string>
        </dict>

    </array>

</dict>
</plist>
